* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    color: white;
}

.G-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.P-section-general {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.5s;
    position: absolute;
}

.p-general-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 45px 0;
}

.p-general-pic {
    background-size: cover;
    width: 100%;
    height: 822px;
    display: flex;
    align-items: center;
}

.p-menu {
    width: 50%;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-align: left;
}

.p-menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.underline {
    position: relative;
}

.underline:after {
    position: absolute;
    content: '';
    bottom: -6px;
    height: 2px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #fff;
}

.p-pic-info {
    text-align: center;
}

.p-pic-info h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    width: 30%;
    margin: 0 auto;
}

.p-pic-info p {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFFB2;
    width: 35%;
    margin: 0 auto;
    padding: 20px 0;
}

.p-project {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.p-section-info {
    color: #000;
    background: #EEEEEE;
    text-align: center;
    padding: 87px 0;
}

.p-section-lines p {
    font-weight: 400;
    padding: 20px 0;
}

.p-section-lines h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}

button {
    margin-top: 20px;
    border-radius: 18px;
    background: #55C2D8;
    border: none;
    cursor: pointer;
    padding: 5px 16px;
}

button :hover {
    color: #000;
}

.p-video-pic {
    background-size: cover;
    width: 100%;
    height: 666px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-video-info .p-play {
    width: 120px;
    height: 120px;
    background-color: #55C2D8;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    margin: 15px auto;
}

.p-play i {
    font-size: 80px;
}

.p-video-info p {
    text-align: center;
    margin-top: 15px;
}

.p-video-info {
    position: relative;
    z-index: 33;
}

.p-video-info h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    z-index: 9999;
}

.P-section-pictures-hidden {
    position: absolute;
    height: 666px;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    content: "";
    background-color: #8C4F2A4D;
    z-index: 9;
}

.p-footer {
    background-color: #464547;
    padding: 15px 0;
}

.img-icon img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.p-footer-project {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2em;
}

.p-footer-info {
    color: #FFFFFF66;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding: 15px 0;
}